@font-face {
  font-family: "Clash Display";
  src: url("../assets/fonts/ClashDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/fonts/ClashDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NexaRegular";
  src: url("/fonts/NexaRegular.woff2") format("woff2");
}

@font-face {
  font-family: "NexaHeavy";
  src: url("/fonts/NexaHeavy.woff2") format("woff2");
}

@font-face {
  font-family: "Nexa-Light-Italic";
  src: url("/fonts/NexaLightItalic.woff2") format("woff2");
  font-style: italic;
}
