/* MAIN NAVBAR WRAPPER */
.navbar {
  display: flex;
  flex-direction: column;   /* ⬅️ NAV MENU TURUN */
  align-items: center;
  padding: 18px 40px;
  background: white;
  border-bottom: 1px solid #e5e5e5;
}

.nav-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* LOGO */
.logo {
  height: 55px;
  margin-right: 25px;
}

/* SEARCH BAR */
.search-container {
  width: 1100px;
  height: 48px;
  background: #ffffff;
  border: 2px solid black;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  gap: 10px;
}

.search-container .search-icon {
  font-size: 22px;
}

.search-container input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

/* NAV MENU */
.nav-menu {
  display: flex;
  gap: 35px;
  margin-left: 40px;
}

.nav-menu a {
  font-size: 15px;
  font-weight: 600;
  color: #2b2b2b;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #b87a35;
}

/* RIGHT ICONS */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 22px;
  margin-left: 30px;
}

.nav-icons .bell {
  position: relative;
}

/* NOTIFICATION DOT */
.nav-icons .bell::after {
  content: "";
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
  position: absolute;
  right: -2px;
  top: -2px;
}

.profile {
  font-size: 28px;
  color: #b87a35;
}
